* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.container img {
    max-width: 100%;
}

/* Classes manipuladas pelo js */

#slide {
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

#slide.SlideEsq {
    transform: translateX(-100%);
    opacity: 0;
}
#slide.SlideDir {
    transform: translateX(0);
    opacity: 1;
}